<h1 class="text-center my-4">My Reservations</h1>

<div class="container">
  <div class="row">
    <% @reservations.each do |reservation| %>
      <div class="col-md-8 offset-md-2 my-3">
        <div class="card bg-white">
          <div class="card-body">
            <h5 class="card-title">Dates: <%= reservation.start_date.strftime("%B %d, %Y")  %> - <%= reservation.end_date.strftime("%B %d, %Y") %></h5>
            <p class="card-text">
              <strong>Kitchen Name:</strong> <%= reservation.kitchen.name %><br>
              <strong>Address:</strong> <%= reservation.kitchen.address %><br>
              <strong>Type:</strong> <%= reservation.kitchen.kitchen_type %><br>
              <strong>Description:</strong> <%= reservation.kitchen.description %><br>
              <strong>Total Price:</strong> <%= number_to_currency(reservation.total_price) %>
            </p>
            <a href="#" class="btn btn-secondary"><%= reservation.status %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
