<h1 class="text-center my-4">All Kitchens</h1>

<div class="container">
  <div class="row">
    <% @kitchens.each do |kitchen| %>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
        <div class="card card-product w-100 rounded">
         <% if kitchen.photos.attached? && kitchen.photos.any? %>
           <%= cl_image_tag kitchen.photos.first.key, class: "img-fluid rounded-top", alt: "Kitchen Image" %>
          <% else %>
           <%= image_tag 'placeholder.jpeg', alt: kitchen.name, class: 'img-fluid rounded-top' %>
         <% end %>
          <div class="card-body card-product-infos d-flex flex-column">
            <h5 class="card-title"><%= kitchen.name %></h5>
            <p class="card-text"><%= kitchen.address %></p>
            <p class="card-text"><%= kitchen.description %></p>
            <p class="card-text"><%= number_to_currency(kitchen.daily_rate) %></p>
            <%= link_to 'Show', kitchen, class: 'btn btn-primary btn-sm mt-auto btn-block' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
