<h1 class="text-center my-4">All Kitchens</h1>

<% @kitchens.each do |kitchen| %>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
      <p><%= kitchen.name %></p>
      <p><%= kitchen.address %></p>
      <p><%= kitchen.description %></p>
      <p><%= number_to_currency(kitchen.daily_rate) %></p>
       <%= link_to 'Show', kitchen, class: 'btn btn-primary btn-sm' %>
  </div>
</div>
<% end %>



<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Kitchen Type</th>
        <th scope="col">Description</th>
        <th scope="col">Daily Rate</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @kitchens.each do |kitchen| %>
        <tr>
          <td><%= kitchen.name %></td>
          <td><%= kitchen.address %></td>
          <td><%= kitchen.kitchen_type %></td>
          <td><%= kitchen.description %></td>
          <td><%= number_to_currency(kitchen.daily_rate) %></td>
          <td>
            <%= link_to 'Show', kitchen, class: 'btn btn-primary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
