
<div class="container">
<div class="row mt-5">
  <h1>My Kitchens</h1>

    <%# <div class="card bg-white p-4 mb-4">
      <div class="card-body"> %>
        <table class="table ">
          <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Description</th>
              <th>Daily Rate</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @kitchens.each do |kitchen| %>
              <tr>
                <td><%= kitchen.name %></td>
                <td><%= kitchen.address %></td>
                <td><%= kitchen.description %></td>
                <td><%= number_to_currency(kitchen.daily_rate) %> /day</td>
                <td>
                  <%= link_to 'Preview Page', kitchen, class: 'btn btn-primary btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
</div>




<div class="container">
<div class="row mt-5">
  <h1 class="text">Incoming Requests</h1>
  <%# <div class="card bg-white p-4 mb-4">
    <div class="card-body"> %>
      <table class="table bg-white mt-4">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Kitchen</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @kitchens.each do |kitchen| %>
            <% kitchen.reservations.each do |reservation| %>
              <tr>
                <td><%= "#{reservation.user.first_name} #{reservation.user.last_name}" %></td>
                <td><%= reservation.kitchen.name %></td>
                <td><%= reservation.start_date.strftime("%B %d, %Y") %></td>
                <td><%= reservation.end_date.strftime("%B %d, %Y") %></td>
                <td><%= number_to_currency(reservation.total_price) %></td>
                <td><%= reservation.status %></td>
                <td>
                  <div class="btn-group" role="group">
                    <%= button_to reservation_path(reservation, reservation: {status: 'Accepted'}), method: :patch, class: 'btn btn-primary btn-sm' do %>
                      <i class="fas fa-check "></i>
                    <% end %>
                    <%= button_to reservation_path(reservation, reservation: {status: 'Declined'}), method: :patch, class: 'btn btn-light btn-sm' do %>
                      <i class="fas fa-times"></i>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>
