<div class="container my-5">
  <div class="card bg-white p-5 ">
    <div class="card-body p-5">
      <h1 class="card-title mb-4">Create a New Kitchen</h1>
      <%= simple_form_for @kitchen, html: { class: 'form-horizontal' } do |f| %>
        <div class="form-group">
          <%= f.input :name, label_html: { class: 'control-label' }, input_html: { class: 'form-control bg-white' } %>
        </div>
        <div class="form-group">
          <%= f.input :address, label_html: { class: 'control-label' }, input_html: { class: 'form-control bg-white' } %>
        </div>
        <div class="form-group">
          <%= f.input :daily_rate, label_html: { class: 'control-label' }, input_html: { class: 'form-control bg-white' } %>
        </div>
        <div class="form-group">
          <%= f.input :kitchen_type, collection: ['commercial', 'private', 'ghost', 'test', 'catering', 'restaurant', 'baking'], label_html: { class: 'control-label' }, input_html: { class: 'form-control bg-white' } %>
        </div>
        <div class="form-group">
          <%= f.input :storage_type, collection: ['cold', 'dry', 'freezer'], label_html: { class: 'control-label' }, input_html: { class: 'form-control bg-white' } %>
        </div>
        <div class="form-group">
          <%= f.input :prep_tables, label_html: { class: 'control-label' }, input_html: { class: 'form-control bg-white' } %>
        </div>
        <div class="form-group">
          <%= f.input :description, label_html: { class: 'control-label' }, input_html: { class: 'form-control bg-white' } %>
        </div>
        <div class="form-group form-check">
          <%= f.input :has_parking, as: :boolean, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' } %>
        </div>
        <div class="form-group form-check">
          <%= f.input :has_fire_safety, as: :boolean, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' } %>
        </div>
        <div class="form-group form-check">
          <%= f.input :has_refrigeration, as: :boolean, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' } %>
        </div>
        <div class="form-group form-check">
          <%= f.input :has_oven, as: :boolean, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' } %>
        </div>
        <div class="form-group form-check">
          <%= f.input :has_stove, as: :boolean, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' } %>
        </div>
        <div class="form-group form-check">
          <%= f.input :has_fryer, as: :boolean, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' } %>
        </div>
        <div class="form-group form-check">
          <%= f.input :has_dishwasher, as: :boolean, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' } %>
        </div>
        <div class="form-group form-check">
          <%= f.input :has_cookware, as: :boolean, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' } %>
        </div>
        <div class="form-group form-check">
          <%= f.input :has_cutlery, as: :boolean, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' } %>
        </div>
        <div class="form-group form-check">
          <%= f.input :availability, as: :boolean, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' } %>
        </div>
        <div class="form-group">
          <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'form-control-file' } %>
        </div>
        <%= f.submit 'Create Kitchen', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
