<h2><%= @kitchen.name %></h2>
<p><%= @kitchen.address %></p>
<p><%= @kitchen.daily_rate %></p>
<p><%= @kitchen.kitchen_type %></p>
<p><%= @kitchen.description %></p>
<p><%= @kitchen.has_parking %></p>
<p><%= @kitchen.has_fire_safety %></p>
<p><%= @kitchen.has_refrigeration %></p>
<p><%= @kitchen.storage_type %></p>
<p><%= @kitchen.has_oven %></p>
<p><%= @kitchen.has_stove %></p>
<p><%= @kitchen.has_fryer %></p>
<p><%= @kitchen.has_dishwasher %></p>
<p><%= @kitchen.has_cookware %></p>
<p><%= @kitchen.has_cutlery %></p>
<p><%= @kitchen.availability %></p>
<p><%= @kitchen.prep_tables %></p>
