<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div class="show-card">
        <div class="show-card-description card-body">
          <h2 class="card-title"><%= @kitchen.name %></h2>
          <% if @kitchen.photos.attached? && @kitchen.photos.any? %>
            <%= cl_image_tag @kitchen.photos.first.key, class: "img-fluid mb-3", alt: "Kitchen Image" %>
          <% end %>

          <h4 class="mt-4">About:</h4>
          <p class="mb-2"><strong>Address:</strong> <%= @kitchen.address %></p>
          <p class="mb-2"><strong>Type:</strong> <%= @kitchen.kitchen_type %></p>
          <p class="mb-3"><strong>Overview:</strong><%= @kitchen.description %></p>

          <h4 class="mt-4">Features:</h4>
          <div class="row mt-3">
            <div class="col-md-6">
              <% if @kitchen.has_parking %>
                <p><i class="fa-solid fa-car"></i> Parking</p>
              <% end %>
              <% if @kitchen.has_fire_safety %>
                <p><i class="fa-solid fa-fire-extinguisher"></i> Fire safety</p>
              <% end %>
              <% if @kitchen.has_cookware %>
                <p><i class="fa-solid fa-kitchen-set"></i> Cookware</p>
              <% end %>
              <% if @kitchen.has_cutlery %>
                <p><i class="fa-solid fa-utensils"></i> Cutlery</p>
              <% end %>
              <% if @kitchen.availability %>
                <p><i class="fa-solid fa-clock"></i> 24/7</p>
              <% end %>
            </div>
            <div class="col-md-6">
              <% if @kitchen.has_fryer %>
                <p><i class="fa-solid fa-temperature-high"></i> Fryer</p>
              <% end %>
              <% if @kitchen.has_dishwasher %>
                <p><i class="fa-solid fa-jug-detergent"></i> Dishwasher</p>
              <% end %>
              <% if @kitchen.has_refrigeration %>
                <p><i class="fa-solid fa-temperature-low"></i> Refrigeration</p>
              <% end %>
              <% if @kitchen.has_stove %>
                <p><i class="fa-solid fa-fire-burner"></i> Stove</p>
              <% end %>
              <% if @kitchen.has_oven %>
                <p><i class="fa-solid fa-temperature-high"></i> Oven</p>
              <% end %>
            </div>
          </div>

          <p class="mt-3"><strong>Storage types:</strong> <%= @kitchen.storage_type %></p>
          <p class="mt-1"><strong>Prep Tables:</strong> <%= @kitchen.prep_tables %></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="show-card show-reservation_form">
        <div class="card-body">
          <h4><%= @kitchen.daily_rate %>$/day</h4>
          <%= simple_form_for [@kitchen, @reservation] do |f| %>
            <div class="form-group">
              <%= f.input :start_date, as: :date, html5: true, input_html: { id: 'start_date', class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= f.input :end_date, as: :date, html5: true, input_html: { id: 'end_date', class: 'form-control' } %>
            </div>
            <%= f.submit "Submit reservation", class: "btn btn-primary w-100 mt-3" %>
          <% end %>
          <div class="mt-3">
            <label>Total Price: </label>
            <span id="total_price">0</span>$
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  const startDateInput = document.getElementById('start_date');
  const endDateInput = document.getElementById('end_date');
  const totalPriceSpan = document.getElementById('total_price');
  const pricePerDay = <%= @kitchen.daily_rate.to_f %>;

  function calculateTotalPrice() {
    const startDate = new Date(startDateInput.value);
    const endDate = new Date(endDateInput.value);

    if (startDate && endDate && startDate <= endDate) {
      const timeDifference = endDate - startDate;
      const dayDifference = timeDifference / (1000 * 3600 * 24) + 1;
      const totalPrice = dayDifference * pricePerDay;
      totalPriceSpan.textContent = totalPrice.toFixed(2);
    } else {
      totalPriceSpan.textContent = '0';
    }
  }

  startDateInput.addEventListener('change', calculateTotalPrice);
  endDateInput.addEventListener('change', calculateTotalPrice);
<% end %>
