<div class="container">
  <div class="row">
    <div class="col-md-6">

    <% if @kitchen.photos.attached? && @kitchen.photos.any? %>
        <%= cl_image_tag @kitchen.photos.first.key, height: 300, width: 400, crop: :fill %>
    <% end %>


      <h2><%= @kitchen.name %></h2>
      <p><%= @kitchen.address %></p>
      <p><%= @kitchen.kitchen_type %></p>
      <p><%= @kitchen.description %></p>

      <%# comment on style and position %>
      <%# @kitchen.photos.each do |photo| %>
        <%# cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <%# end %>

      <p>
        Parking:
        <% if @kitchen.has_parking %>
          <i class="fas fa-check-circle text-success"></i>
        <% else %>
          <i class="fas fa-times-circle text-danger"></i>
        <% end %>
      </p>

      <p>
        Fire Safety:
        <% if @kitchen.has_fire_safety %>
          <i class="fas fa-check-circle text-success"></i>
        <% else %>
          <i class="fas fa-times-circle text-danger"></i>
        <% end %>
      </p>

      <p>
        Refrigeration:
        <% if @kitchen.has_refrigeration %>
          <i class="fas fa-check-circle text-success"></i>
        <% else %>
          <i class="fas fa-times-circle text-danger"></i>
        <% end %>
      </p>

      <p><%= @kitchen.storage_type %></p>

      <p>
        Oven:
        <% if @kitchen.has_oven %>
          <i class="fas fa-check-circle text-success"></i>
        <% else %>
          <i class="fas fa-times-circle text-danger"></i>
        <% end %>
      </p>

      <p>
        Stove:
        <% if @kitchen.has_stove %>
          <i class="fas fa-check-circle text-success"></i>
        <% else %>
          <i class="fas fa-times-circle text-danger"></i>
        <% end %>
      </p>

      <p>
        Fryer:
        <% if @kitchen.has_fryer %>
          <i class="fas fa-check-circle text-success"></i>
        <% else %>
          <i class="fas fa-times-circle text-danger"></i>
        <% end %>
      </p>

      <p>
        Dishwasher:
        <% if @kitchen.has_dishwasher %>
          <i class="fas fa-check-circle text-success"></i>
        <% else %>
          <i class="fas fa-times-circle text-danger"></i>
        <% end %>
      </p>

      <p>
        Cookware:
        <% if @kitchen.has_cookware %>
          <i class="fas fa-check-circle text-success"></i>
        <% else %>
          <i class="fas fa-times-circle text-danger"></i>
        <% end %>
      </p>

      <p>
        Cutlery:
        <% if @kitchen.has_cutlery %>
          <i class="fas fa-check-circle text-success"></i>
        <% else %>
          <i class="fas fa-times-circle text-danger"></i>
        <% end %>
      </p>

      <p>
        Availability:
        <% if @kitchen.availability %>
          <i class="fas fa-check-circle text-success"></i>
        <% else %>
          <i class="fas fa-times-circle text-danger"></i>
        <% end %>
      </p>

      <p>Prep Tables: <%= @kitchen.prep_tables %></p>
    </div>

    <div class="col-md-6">
      <div class='reservation_form'>
        <h4><%= @kitchen.daily_rate %>$/day</h4>
        <%= simple_form_for [@kitchen, @reservation] do |f| %>
          <%= f.input :start_date, as: :date, html5: true, input_html: { id: 'start_date' } %>
          <%= f.input :end_date, as: :date, html5: true, input_html: { id: 'end_date' } %>
          <%# link_to "Go to checkout", "javascript:void(0);", class: "btn btn-primary mb-3", id: "create_reservation_button" %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
          <%# add the link later %>
          <div class="mt-3">
            <label>Total Price: </label>
            <span id="total_price">0</span>$
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= javascript_tag do %>
  const startDateInput = document.getElementById('start_date');
  const endDateInput = document.getElementById('end_date');
  const totalPriceSpan = document.getElementById('total_price');
  const pricePerDay = <%= @kitchen.daily_rate.to_f %>;

  function calculateTotalPrice() {
    const startDate = new Date(startDateInput.value);
    const endDate = new Date(endDateInput.value);

    if (startDate && endDate && startDate <= endDate) {
      const timeDifference = endDate - startDate;
      const dayDifference = timeDifference / (1000 * 3600 * 24) + 1;
      const totalPrice = dayDifference * pricePerDay;
      totalPriceSpan.textContent = totalPrice.toFixed(2);
    } else {
      totalPriceSpan.textContent = '0';
    }
  }

  startDateInput.addEventListener('change', function() {
    calculateTotalPrice();
    <%# code js ici pour is valid or invalid + définition  %>
  });

  endDateInput.addEventListener('change', function() {
    calculateTotalPrice();
    <%# code js ici pour is valid or invalid + définition %>
  });
<% end %>
