<div class="container">

  <h2><%= @kitchen.name %></h2>

  <% if @kitchen.photos.attached? && @kitchen.photos.any? %>
      <%= cl_image_tag @kitchen.photos.first.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <div class="card-description">
        <h4> Description:</h4>
        <p><%= @kitchen.address %></p>
        <p><%= @kitchen.kitchen_type %></p>
        <p><%= @kitchen.description %></p>
      </div>

      <%# comment on style and position %>
      <%# @kitchen.photos.each do |photo| %>
        <%# cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <%# end %>

      <div class="card-features">
        <h5> Features:</h5>

        <div class="flex-container mt-3">

          <div class="row-one">

            <p class="flex-item">
              <% if @kitchen.has_parking %>
                <i class="fa-solid fa-car"></i>  Parking
              <% end %>
            </p>

            <p class="flex-item">
              <% if @kitchen.has_fire_safety %>
                <i class="fa-solid fa-fire-extinguisher"></i>  Fire safety
              <% end %>
            </p>

            <p class="flex-item">
              <% if @kitchen.has_cookware %>
                <i class="fa-solid fa-kitchen-set"></i>  Cookware
              <% end %>
            </p>

            <p class="flex-item">
              <% if @kitchen.has_cutlery %>
                <i class="fa-solid fa-utensils"></i>  Cutlery
              <% end %>
            </p>

            <p class="flex-item">
              <% if @kitchen.availability %>
                <i class="fa-solid fa-clock"></i>  24/7
              <% end %>
            </p>

          </div>

          <div class="row-two">

            <p class="flex-item">
              <% if @kitchen.has_fryer %>
                <i class="fa-solid fa-temperature-high"></i>  Fryer
              <% end %>
            </p>

            <p class="flex-item">
              <% if @kitchen.has_dishwasher %>
                <i class="fa-solid fa-jug-detergent"></i>  Dishwasher
              <% end %>
            </p>

            <p class="flex-item">
              <% if @kitchen.has_refrigeration %>
                <i class="fa-solid fa-temperature-low"></i>  Refrigeration
              <% end %>
            </p>

            <p class="flex-item">
              <% if @kitchen.has_stove %>
                <i class="fa-solid fa-fire-burner"></i>  Stove
              <% end %>
            </p>

            <p class="flex-item">
              <% if @kitchen.has_oven %>
                <i class="fa-solid fa-temperature-high"></i>  Oven
              <% end %>
            </p>


          </div>

        </div>

        <p>Storage types: <%= @kitchen.storage_type %></p>

        <p>Prep Tables: <%= @kitchen.prep_tables %></p>
      </div>
    </div>

    <div class="col-md-4">
      <div class='reservation_form'>
        <h4><%= @kitchen.daily_rate %>$/day</h4>
        <%= simple_form_for [@kitchen, @reservation] do |f| %>
          <%= f.input :start_date, as: :date, html5: true, input_html: { id: 'start_date' } %>
          <%= f.input :end_date, as: :date, html5: true, input_html: { id: 'end_date' } %>
          <%# link_to "Go to checkout", "javascript:void(0);", class: "btn btn-primary mb-3", id: "create_reservation_button" %>
          <%= f.submit "Submit reservation", class: "btn btn-primary" %>
          <%# add the link later %>
          <%= f.input :total_price, as: :hidden, input_html: { id: 'total_price_input' } %>
          <div class="mt-3">
            <label>Total Price: </label>
            <span id="total_price">0</span>$
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>


<%= javascript_tag do %>
  const startDateInput = document.getElementById('start_date');
  const endDateInput = document.getElementById('end_date');
  const totalPriceSpan = document.getElementById('total_price');
  const pricePerDay = <%= @kitchen.daily_rate.to_f %>;
  const totalPriceInput = document.getElementById('total_price_input');

  function calculateTotalPrice() {
    const startDate = new Date(startDateInput.value);
    const endDate = new Date(endDateInput.value);
    let totalPrice;

    if (startDate && endDate && startDate <= endDate) {
      const timeDifference = endDate - startDate;
      const dayDifference = timeDifference / (1000 * 3600 * 24) + 1;
      totalPrice = (dayDifference * pricePerDay).toFixed(2);
    } else {
      totalPrice = '0';
    }
    totalPriceSpan.textContent = totalPrice;
    totalPriceInput.value = totalPrice;
  }

  startDateInput.addEventListener('change', function() {
    calculateTotalPrice();
    <%# code js ici pour is valid or invalid + définition  %>
  });

  endDateInput.addEventListener('change', function() {
    calculateTotalPrice();
    <%# code js ici pour is valid or invalid + définition %>
  });
<% end %>
