<!DOCTYPE html>
<html>
  <head>
    <title>Chefspace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

   <style>
    .jumbotron {
      padding: 2rem 1rem;
      background-color: #f8f9fa;
      margin-bottom: 0;
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-primary.text-white {
      color: white;
    }
    .about-image {
      max-width: 100%;
      height: auto;
    }
    .about-section img {
      width: 100%;
      max-width: 500px; /* Set a maximum width */
      height: auto; /* Maintain aspect ratio */
      display: block;
      margin: 0 auto; /* Center the image */
    }
  </style>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
